@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: FantasqueSansMonoRegular, monospace;
}

h1, h2, h3, h4, h5, caption {
    font-family: datalegreya, sans-serif;
}

li {
    list-style: none;
}