@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
  font-feature-settings: "kern" on, "liga" on, "calt" on;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: FantasqueSansMonoRegular, monospace;
}

body {
  position: relative;
}

.panels > section {
  min-height: 50vh;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
caption {
  font-family: datalegreya, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.75em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}

ol,
li {
  list-style: none;
}

@layer base {
  .span-entire-row {
    grid-column: 1/-1;
  }
}
